.ConnectButton
    width:100%
        
    button
        border: #B6412A solid 2px
        // border-radius: 5px
        color: #B6412A
        font-family: sans-serif
        padding: 0.5rem 3rem
        font-weight: 900
        cursor: pointer
        font-size: 1rem
        border-radius: 5px
        letter-spacing: 00.5rem
        float: right
        margin: 1rem 1.5rem 0 0