.ConnectButton
    width:100%
        
    button
        border: #B6412A solid 2px
        // border-radius: 5px
        color: #0087A3
        font-family: monospace
        padding: 0.1rem 3rem
        font-weight: 900
        cursor: pointer
        font-size: 2rem
        border-radius: 5px
        letter-spacing: 00.3rem
        float: right
        margin: 1rem 1.5rem 0 0