.Header
    padding: 1rem 10rem
    
    .title
        color: #B6412A
        font-family: sans-serif
        font-weight: 700
        font-size: 3rem
        flex: 1 1 auto

    .subtitle
        color: #B6412A
        font-family: sans-serif
        font-weight: 700
        font-size: 4rem
        flex: 1 1 auto
        padding-bottom: 2rem

    .line
        width: 47%
        height: 3px
        background-color: #B6412A
        flex: 1 1 auto
        margin: auto