.Header
    padding: 1rem 10rem
    
    .title
        // color: #B6412A
        color: white
        font-family: 'Arial Narrow'
        font-weight: 700
        font-size: 3rem
        flex: 1 1 auto
        text-shadow: #B6412A95 0 0 2rem

    .subtitle
        // color: #B6412A
        color: white
        font-family: 'Arial Narrow'
        font-weight: 700
        font-size: 4rem
        flex: 1 1 auto
        padding-bottom: 2rem
        text-shadow: #B6412A95 0 0 2rem

    .line
        width: 47%
        height: 3px
        // background-color: #B6412A
        background-color: white
        flex: 1 1 auto
        margin: auto
        box-shadow: #B6412A95 0 0 2rem