.Input
    margin: 1rem 0

    .label
        color: #B6412A
        font-size: 1.65rem
        font-family: sans-serif
        font-weight: 700

    .input
        color: #0087A3
        font-size: 2rem
        font-family: monospace
        font-weight: 700
        border-bottom: #B6412A solid 0.2rem
        max-width: 75%
        text-align: left
        margin-left: 1rem
        cursor: auto

        &::placeholder
            color: #1B3450
            