.LineInput
    flex: 1 1 auto
    font-family: monospace
    width: 100%
    margin: 0.25rem 0

    .label
        color: #1B3450
        font-weight: 500

    .muted
        color: #1B3450

    input
        width: 90%
        font-weight: 700
        color: #149CA5
        text-align: left
        margin-left: 0.5rem
        border-bottom: #1B3450 solid 0.1rem