.MintButton
    flex: 1 1 auto
    margin: 1rem 0 1rem 0

    button
        border: #B6412A solid 2px
        // border-radius: 5px
        color: #B6412A
        font-family: sans-serif
        padding: 0.5rem 2rem
        font-weight: 700
        cursor: pointer

        &:active
            background-color: #B6412A
            color: #0D141F