html,
body
  padding: 0
  margin: 0
  font-family: Montserrat,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a 
  color: inherit
  text-decoration: none

* 
  box-sizing: border-box

:root
  --orange: #C5351D
  --orange-gradient-light: #e92802
  --orange-gradient-dark: #a20000