.Input
    flex: 0 0 auto
    max-width: 600px
    text-align: left
    &.status
        width:100%
        border-bottom: none
        flex: 2 0 auto
        .input
            border-bottom: none
            width:100%

    .label
        color: #c5351d
        font-size: 80%
        font-weight: 900

        svg
            margin-bottom: -2px

    .underline
        display: inline
        &:before 
            content:''
            position: relative
            top: 14px
            background-color: #c5351d
            height: 6px
            width: 6px
            border-radius:10px 0 0 10px
            content: ""
            display: inline-block
        &:after 
            content:''
            position: relative
            top: 14px
            background-color: #c5351d
            height: 6px
            width: 6px
            border-radius:0 10px 10px 0
            content: ""
            display: inline-block

        .input
            width: 85%
            color: var(--bright-text)
            font-family: monospace
            font-weight: 700
            border-bottom: #c5351d solid 6px
            text-align: left
            text-shadow: none
            text-overflow: ellipsis
            min-width: 300px
            font-size: 130%
            

            &::placeholder
                color: #1B3450
        
    .status
        font-size: 100%
        text-transform: uppercase

        &::placeholder
            color: #1B3450
            
    .fade
        width:5rem
        height:2rem
        background: linear-gradient( 90deg, transparent, #0d141f)
        position: absolute
        right: 0rem
        bottom: 0rem