.Main
    width: 100%
    border: 6px solid #c5351d
    border-radius: 50px
    flex: 1 1 auto
    box-sizing: border-box
    display: flex
    flex-direction: row
    flex-wrap: wrap

    .inbox-container
        border-right: 6px solid #c5351d
        flex: 1 1 auto

    .outbox-container
        flex: 1 1 auto
        margin: 20px
        display: flex
        flex-direction: column

        .draft-container
            flex: 1 1 auto
            flex-direction: column
            gap: 35px
            justify-content: space-around
            display: flex
            margin: 2% 0
            max-width: 700px
            width: 100%
            align-self: center

            .draft-top
                flex: 0 0 auto
                display: flex
                flex-direction: row
                justify-content: space-between

    .step
        text-align: left

    .box-title
        color: #c5351d
        width:100%
        font-size: 150%
        font-weight: 900
        letter-spacing: 1rem
        flex: 0 0 auto

    .box-subtitle
        flex: 1 1 auto
        color: #c5351d
        font-size:0.8vw
        font-weight: 700
        letter-spacing: 0.12rem
    
    .status-container
        border-top: 6px solid #c5351d
        margin: -2%
        display: flex
        flex-direction: row

        .box-title
            margin: 0.65% 2% 0 2%