.top-bar
    z-index: 5
    display: flex
    justify-content: space-between
    flex-wrap: wrap-reverse

    .top-bar-item    
        flex: 1 1 auto
        max-width: 400px

        &.cost
            max-width: 300px